<h2>About me</h2>
<p>At present, I am an ISTPlus Postdoc Fellow at the <a href="https://ist.ac.at/">Institute of Science and Technology Austria</a>, where I am honored to be hosted by <a href="http://people.csail.mit.edu/alistarh/">Dan Alistarh</a>.</p>
<p>Before joining IST Austria, I spent two wonderful years as a Research Staff Member at IBM India Research Lab, New Delhi, India.</p>
<p>Prior to that, I obtained a Ph.D. in Computer Science and Engineering from <a href="https://www.chalmers.se/en/Pages/default.aspx">Chalmers University of Technology</a>, Gothenburg, Sweden, supervised by <a href="http://www.cse.chalmers.se/~tsigas/">Philippas Tsigas</a>. I earned an M.Sc. (Mathematics), supervised by <a href="http://web.iitd.ac.in/~apmehra/">Aparna Mehra</a>, and an M.Tech. (Computer Applications), supervised by <a href="http://www.cse.iitd.ac.in/~subodh/">Subodh Kumar</a>, at the <a href="http://www.iitd.ac.in/">Indian Institute of Technology Delhi</a>, New Delhi, India.</p>

<h2>Research Interests</h2>
<p>I am interested in a number of research areas in Computer Science and Mathematics. Following are the topics on which either I am currently working or have worked with meaningful research output.</p>
<ul>
  <li>Machine Learning, Deep Learning.</li>
  <li>Stochastic Optimization, Distributed Optimization.</li>
  <li>Concurrent Data Structures, Distributed Computing.</li>
  <li>Parallel Programming, GPGPU.</li>
  <li>Blockchains.</li>
  <li>Computational Topology.</li>
  <li>Computational Game Theory.</li>  
</ul>


