<ul class="fa-ul main-list">
  <li class="main-list-item">
    <!-- <span class="fa fa-linkedin fa-lg main-list-item-icon"></span> -->
    <a href="https://scholar.google.com/citations?user=ILI-_h4AAAAJ&hl=en">Publications</a>
  </li>
  <li class="main-list-item">
    <!-- <span class="fa fa-linkedin fa-lg main-list-item-icon"></span> -->
    <a href="https://www.linkedin.com/in/bapichatterjee/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <!-- <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://github.com/bapi">GitHub</a>
  </li>
  <li class="main-list-item">
    <!-- <span class="fa fa-user fa-lg main-list-item-icon"></span> -->
    <a href="https://in.mathworks.com/matlabcentral/profile/authors/1407762-bapi-chatterjee">Matlab Files</a>
  </li>
</ul>
