<h3>Research Interests</h3>
<p>I am interested in a number of research areas in Computer Science and Mathematics. Following are the topics which either I am currently working on or have worked with some meaningful research output.</p>
<ul>
  <li>Distributed Machine Learning.</li>
  <li>Federated Learning.</li>
  <li>Concurrent Data Structures.</li>
  <li>Learned Index Structures.</li>
  <li>Parallel Programming, GPGPU.</li>
  <li>Blockchains.</li>
  <li>Computational Topology.</li>
  <li>Computational Game Theory.</li>  
</ul>
