<h3>Research Interests</h3>
<p>I am interested in a number of research areas in Computer Science and Mathematics. Following are the topics on which either I am currently working or have worked with meaningful research output.</p>
<ul>
  <li>Machine Learning, Deep Learning.</li>
  <li>Stochastic Optimization, Distributed Optimization.</li>
  <li>Concurrent Data Structures, Distributed Computing.</li>
  <li>Parallel Programming, GPGPU.</li>
  <li>Blockchains.</li>
  <li>Computational Topology.</li>
  <li>Computational Game Theory.</li>  
</ul>
