<h3>Teaching</h3>
<p>I have taught the following courses:</p>
<h5>At IST Austria</h5>
<ul>
  <li>Concurrency - A Practical Approach (Co-taught with Dan Alistarh).</li>
</ul>
<h5>At IIIT Delhi</h5>
<ul>
  <li>Optimization Methods for Machine Learning (Monsoon 2021, Winter 2024).</li>
  <li>Concurrent and Learned Data Structures (Winter 2022, Winter 2023).</li>
  <li>Discrete Mathematics (Monsoon 2022, Monsoon 2023).</li>
  <li>Distributed and Federated Learning (Monsoon 2023).</li>
  <li>Object-Oriented Programming and Design. (Monsoon 2021)</li>  
</ul>
