<h3>Teaching</h3>
<p>I have taught the following courses:</p>
<h5>At IST Austria</h5>
<ul>
  <li>Concurrency - A Practical Approach (Co-taught with Dan Alistarh).</li>
</ul>
<h5>At IIIT Delhi</h5>
<ul>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE589">Large Deep Learning Systems</a>.</li>
  <li>Optimization Methods for Machine Learning.</li>
  <li>Distributed and Federated Learning.</li>
  <li>Concurrent and Learned Data Structures.</li>
  <li>Discrete Mathematics.</li>
  <li>Object-Oriented Programming and Design.</li>  
</ul>

