<h3>Teaching</h3>
<p>I have taught the following courses:</p>
<h5>At IST Austria</h5>
<ul>
  <li>Concurrency - A Practical Approach (Co-taught with Dan Alistarh).</li>
</ul>
<h5>At IIIT Delhi</h5>
<ul>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE589">Large Deep Learning Systems</a>.</li>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=ECE666">Optimization Methods for Machine Learning</a>.</li>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE665A">Distributed and Federated Learning</a>.</li>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE518">Concurrent and Learned Data Structures</a>.</li>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE121">Discrete Mathematics</a>.</li>
  <li><a href="https://techtree.iiitd.edu.in/viewDescription/filename?=CSE600">Object-Oriented Programming and Design</a>.</li>  
</ul>


